__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*.pyc

.venv*/
venv*/
ENV*/
env*/

dist/
build/
htmlcov/
.pytest_cache/
.coverage
*.egg-info/
.eggs/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.pypirc
.python-version